.container
  .row.justify-content-center
    .col-12.col-md-5.col-xl-4.my-5
      .text-center
        %h1.display-3.mb-3
          No data yet
        %p.text-muted.mb-4
          You can add new record by clicking
        %a
          = link_to 'New Style', new_style_path, class: "btn btn-outline-primary btn-sm"